.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 2000px;
  margin: 0 auto;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 100%;

}

.carousel {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  @media (min-width: 500px) {
    justify-content: center;
  }
}

.background {
  height: 650px;
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0.1;
  background-size: cover;
  opacity: rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
  // transform: rotate(90deg);
  animation: scaleBackground 10s infinite alternate;

  @media (min-width: 1024px) {
    height: 600px;
    width: 950px;
  }

  @media (min-width: 1224px) {
    height: 600px;
    width: 1250px;
  }
}

@keyframes scaleBackground {
  0% {
    background-size: 120% auto;
  }

  100% {
    background-size: 100% auto;
  }

}

.btn {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  z-index: 5;
  background-size: cover;
  background-position: center;

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
  }

  @media (min-width: 1024px) {
    position: relative;
    background: none;
    object-fit: cover;
  }
}

.current {
  z-index: 1;
  clip-path: polygon(28% 0%, 72% 0%, 72% 100%, 28% 100%);
}


.out {
  overflow: hidden;
  display: none;
}

.index-container {
  position: absolute;
  top: 1;
  left: 0;
  bottom: 0;
  right: 1;
  z-index: 1;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}

.index-container h4 {
  margin: 5px 0;
  transition: color 0.3s ease-in-out;
}

.index-container h4.active {
  color: white;
  font-weight: bold;
}



.title-overlay {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 4;
  text-align: center;
  height: 3rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.letter {
  display: inline-block;
}