.carousel-item {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: flex;

  @media (min-width: 520px) {
    // rotate: 90deg;
    height: 100%;
    object-fit: contain;
  }
}

.media-button {
  z-index: 5;
  cursor: pointer;
  width: 930px;
  clip-path: polygon(39% 33.33%, 61% 33.33%, 61% 66.66%, 39% 66.66%);
}