.carousel-item {
  width: 100%;
  height: 100vh;
  object-fit: cover;

  @media (min-width: 1024px) {
    clip-path: inset(10% 32% 10% 32%);
    height: 100vh;
    object-fit: contain;
  }
}

.media-button {
  width: 340px;
  height: 100%;
  clip-path: inset(0% 14% 0% 14%)
}